body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 10px;
    background: beige;
  }
}

.cardGrid {
  display: grid;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . c . ."
    ". . . . ."
    ". . . . .";
  gap: 0.5rem;
  margin: 1rem;
  background: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
}


.card,
.centreCard {
  font-size: 4rem;
  display: grid;
  place-items: center;
  border-radius: 15%;
  min-width: 6rem;
  aspect-ratio: 1;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
  border: 0.4rem solid white;
}

.centreCard {
  grid-area: c;
}

.card:hover,
.centreCard:hover {
  cursor: pointer;
}

.card.latest {
  border-style: dashed;
}

.card.previous {
  border-style: dashed;
}

.lava {
  background-color: tomato;
}

.water {
  background-color: skyblue;
}

.desert {
  background-color: rgb(250, 235, 133)
}

.flowers {
  background-color: hotpink;
}

.jungle {
  background-color: rgb(28, 170, 28);
}

.card.faceDown {
  /* https://www.magicpattern.design/tools/css-backgrounds */

  background: repeating-linear-gradient(-45deg, #acafcf, #a6a8d1 4px, #c6c6db 4px, #e5e5f7 14px);
}

.centreCard {
  position: relative
}


.centerCardOverlay {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  color: gray;
  display: grid;
  place-items: center;
  font-size: 2rem;
}


.playersCircle {
  /* background: green; */
  display: grid;
  place-items: center;
  border-radius: 50%;
  --circleSize: 5rem;
  border: calc(var(--circleSize) * 0.1) solid gray;
  width: calc(var(--circleSize) * 2);
  height: calc(var(--circleSize) * 2);
  /* This will be set by react */
  --numPlayers: 3;
  --rotStep: calc(360deg / var(--numPlayers));
  user-select: none;
  margin-left: 2rem;
}

.playersCircle .player {
  position: absolute;
  color: white;
  width: fit-content;
  padding: 0rem 0.8rem;
  font-size: calc(var(--circleSize) * 0.35);
  display: grid;
  place-items: center;
  border-radius: 0.3rem;
  background: skyblue;
  display: grid;
  place-items: center;
}

.player.eliminated {
  background-color: gray;
}

.player.currentPlayer {
  outline: 0.2rem dashed gold;
  scale: 1;
}

/* 1st player */
.rot0 {
  transform: rotate(0deg) translate(0rem, var(--circleSize));
}

/* 2nd player */
.rot1 {
  transform: rotate(calc(var(--rotStep) * 1)) translate(0rem, var(--circleSize));
}

/* possible 3rd player */
.rot2 {
  transform: rotate(calc(var(--rotStep) * 2)) translate(0rem, var(--circleSize));
}

/* possible 4th and final player */
.rot3 {
  transform: rotate(calc(var(--rotStep) * 3)) translate(0rem, var(--circleSize));
}

.gameOver {
  font-size: 1.5rem;
}