body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  line-height: 1.3;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 10px;
    background: beige;
  }
}


.gameTable {
  display: grid;
  grid-template-areas:
    "..  pN    .."
    "pW  main  pE"
    "..  pS    ..";

  gap: 0.2rem;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
}

.playerArea {
  background: whitesmoke;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.playerArea.placeholder {
  opacity: 0.5;
}

.playerArea.eliminated {
  background-color: gainsboro;
  text-decoration: line-through;
  transition: background-color 0.5s;
}

.playerArea.currentPlayer {
  outline: 0.2rem dashed skyblue;
}

.playerArea.pN {
  grid-area: pN;
}

.playerArea.pE {
  grid-area: pE;
  writing-mode: vertical-lr;
}

.playerArea.pS {
  grid-area: pS;
}

.playerArea.pW {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  grid-area: pW;
}



.cardGrid {
  grid-area: main;
  display: grid;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . c . ."
    ". . . . ."
    ". . . . .";
  gap: 0.5rem;
  margin: 1rem;
  background: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
}


.backgroundSVG {
  z-index: -2;
  position: absolute;
  bottom: -20%;
}

.card,
.centreCard {
  font-size: 4rem;
  display: grid;
  place-items: center;
  border-radius: 15%;
  min-width: 6rem;
  aspect-ratio: 1;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
  border: 0.4rem solid white;
  overflow: hidden;
}

.centreCard {
  grid-area: c;
}

.treasure {
  border-color: gold;
}

.card:hover,
.treasure:hover {
  cursor: pointer;
}

.card.latest {
  border-style: dashed;
}

.card.previous {
  border-style: dashed;
}

.card.faceDown {
  /* https://www.magicpattern.design/tools/css-backgrounds */

  background: repeating-linear-gradient(-45deg, #acafcf, #a6a8d1 4px, #c6c6db 4px, #e5e5f7 14px);
}

.centreCard {
  position: relative
}


.centerCardOverlay {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  color: gray;
  display: grid;
  place-items: center;
  font-size: 2rem;
}




.gameOver {
  font-size: 1.5rem;
}

input,
button {
  font-size: 1.2rem;
  padding: 0.2em;
  margin: 0.2rem;
}