body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
}

.cardGrid {
  display: grid;
  grid-template-areas:
    "a b c d e"
    "f g h i j"
    "k l m n o"
    "p q r s t"
    "u v w x y";
  gap: 0.5rem;
  margin: 1rem;
  background: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
}


.card,
.centreCard {
  font-size: 4rem;
  display: grid;
  place-items: center;
  border-radius: 15%;
  min-width: 6rem;
  aspect-ratio: 1;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
  border: 0.4rem solid white;
}

.centreCard {
  grid-area: m;
}

.card:hover {
  cursor: pointer;
}

.card.latest {
  border-style: dashed;
}

.card.previous {
  border-style: dashed;
}

.lava {
  background-color: tomato;
}

.water {
  background-color: skyblue;
}

.desert {
  background-color: rgb(250, 235, 133)
}

.flowers {
  background-color: hotpink;
}

.jungle {
  background-color: rgb(28, 170, 28);
}

.card.faceDown {
  /* https://www.magicpattern.design/tools/css-backgrounds */

  background: repeating-linear-gradient(-45deg, #acafcf, #a6a8d1 4px, #c6c6db 4px, #e5e5f7 14px);
}

.player {
  padding: 0.2rem;
  background: salmon;

}

.player.eliminated {
  text-decoration: line-through;
}

.centreCard {
  position: relative
}


.overlay {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  color: gray;
  display: grid;
  place-items: center;
  font-size: 2rem;
}