body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  margin: 1rem;
}

.card {
  font-size: 4rem;
  display: grid;
  place-items: center;
  border-radius: 15%;
  aspect-ratio: 1;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
  border: 0.4rem solid white;
}

.card:hover {
  cursor: pointer;
}


.lava {
  background-color: tomato;
}

.water {
  background-color: skyblue;
}

.desert {
  background-color: rgb(250, 235, 133)
}

.flowers {
  background-color: hotpink;
}

.jungle {
  background-color: rgb(28, 170, 28);
}